<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone Number</th>
      <th>Category</th>
    </tr>
  </thead>

  <br>

  <tbody>
     <% @restaurants.each do |restaurant| %>
     <tr>
      <td><%= restaurant.name %></td>
      <td><%= restaurant.address %></td>
      <td><%= restaurant.phone_number %></td>
      <td><%= restaurant.category.capitalize %></td>
      <td><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-info"%></td>
     </tr>
     <% end %>
  </tbody>
</table>

<br>

<%= link_to "Add new restaurant", new_restaurant_path, class: "btn btn-primary"%>
