<h1><%= @restaurant.name %></h1>

<br>

<p>Address: <%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>

<br>

<%= link_to 'Back', restaurants_path, class: "btn" %> |
<%= link_to 'Review', new_restaurant_review_path(@restaurant), class: "btn" %>

<br><br>

<h2>Reviews:</h2>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @restaurant.reviews.each do |review| %>
    <tr>
      <td><%= review.content %></td>
      <td><%= 'â­' * review.rating %></td>
    </tr>
    <% end %>
  </tbody>
</table>
